<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youth4work.CGPSC_2023">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission
        android:name="com.youth4work.CGPSC_2023.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.READ_PHONE_STATE"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.GET_ACCOUNTS"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.youth4work.AIIMS_MBBS.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.youth4work.CGPSC_2023.PrepApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9a1a380c9ee3499392be11194d7fc4f83fb3dd8e" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_small_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false"/>

        <activity
            android:name="com.youth4work.CGPSC_2023.ui.startup.SplashActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.prep.youth4work.com"
                    android:scheme="http" />
                <data
                    android:host="www.prep.youth4work.com"
                    android:scheme="https" />
                <data
                    android:scheme="app"
                    android:host="www.prep.youth4work.com" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.youth4work.CGPSC_2023.ui.payment.ApplyCouponActivity"
            android:label="Apply Coupon"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.payment.UpgradePlanActivity"></activity>
        <activity android:name="com.youth4work.CGPSC_2023.ui.startup.DeepLinkActivity" android:screenOrientation="sensor">
        </activity>
        <activity android:name="com.youth4work.CGPSC_2023.ui.startup.SignUp" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.startup.LoginActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.startup.ForgotPasswordActivity"
            android:label="@string/title_forgot_password"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.startup.LoginActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.startup.SignUpActivity"
            android:label="@string/sign_up"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.startup.LoginActivity"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.youth4work.CGPSC_2023.ui.startup.GettingStartedActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.payment.UpgradePlanActivity"
            android:label="@string/title_upgrade_plan"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.home.DashboardActivity"
            android:screenOrientation="sensor"></activity>
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.payment.PaymentStatusActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.quiz.TestRulesActivity"
            android:label="@string/title_test_rules"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.home.DashboardActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.home.CategoryExamsActivity"
            android:label="@string/title_i_am_aspiring"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.quiz.DailyTestActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.quiz.DiscussionActivity"
            android:theme="@style/Theme.DesignDemo" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.home.DashboardActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.quiz.ReviewTestActivity"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.quiz.DailyTestActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.payment.PlanReviewActivity"
            android:label="@string/title_activity_plan_review"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.payment.UpgradePlanActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.youth4work.CGPSC_2023.ui.forum.PrepForumDetails"
            android:theme="@style/Theme.DesignDemo"  />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.forum.CommentsActivity"
            android:theme="@style/Theme.DesignDemo" />

        <activity android:name="com.youth4work.CGPSC_2023.ui.quiz.SectionTestActivity"></activity>
        <activity
            android:name="com.youth4work.CGPSC_2023.Rating"
            android:theme="@style/RatingBar"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.quiz.ReviewTestActivity"
            android:exported="true"/>
        <service android:name="com.youth4work.CGPSC_2023.firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.youth4work.CGPSC_2023.ui.startup.RegisterationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.youth4work.CGPSC_2023.PayTM.PaytmPGActivity"/>
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.home.InviteFriendActivity"
            android:label="Referrals"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.home.DashboardActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.startup.UpdateEducation"
            android:label="Update Education Details"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.home.VerificationActivity"
            android:label="Verification"/>
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.startup.AllWebView"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.home.NoInternetActivity"
            android:theme="@style/noInternetstyle" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.home.RatingActivity"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.quiz.ReviewTestActivity"
            android:theme="@style/RatingBar" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.quiz.MockTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.quiz.MockTestRulesActivity"
            android:label="Mock Test Rules"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.home.DashboardActivity" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.forum.AskQuestionActivity"
            android:theme="@style/alert" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.forum.AddAnswerActivity"
            android:theme="@style/alert" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.forum.AddCommentActivity"
            android:theme="@style/alert" />
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.quiz.AddSolutionActivity"
            android:theme="@style/alert"></activity>
        <activity
            android:name="com.youth4work.CGPSC_2023.ui.workmail.WorkMailActivity"
            android:configChanges="orientation|screenSize"
            android:label="Work Mail"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.home.DashboardActivity" />

        <activity
            android:name="com.youth4work.CGPSC_2023.ui.workmail.ConversationActivity"
            android:configChanges="orientation|screenSize"
            android:label="Conversations"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.workmail.WorkMailActivity" />
        <activity android:name="com.youth4work.CGPSC_2023.ui.home.ChatActivity"
            android:launchMode="singleTop"/>
        <activity android:name="com.youth4work.CGPSC_2023.ui.public_profile.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.youth4work.CGPSC_2023.ui.home.ChatActivity"
            android:theme="@style/Theme.DesignDemo"/>
    </application>

</manifest>